<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.java.MarComAPI.login"/>
      <class name="test.java.MarComAPI.ViewProjectTask"/>
      <class name="test.java.MarComAPI.ClientContactPerson"/>
      <class name="test.java.MarComAPI.AllProjectList"/>
      <class name="test.java.MarComAPI.ClientList"/>
      <class name="test.java.MarComAPI.UserList"/>
      <class name="test.java.MarComAPI.MyTaskList"/>
      <class name="test.java.MarComAPI.UserProfile"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
