<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<packages>
			<package name="test.java.MarComAPI.Login" />
			<!-- <package name="test.java.MarComAPI.General" />
			<package name="test.java.MarComAPI.Project" />
			<package name="test.java.MarComAPI.Tasks" /> -->
			<package name="test.java.MarComAPI.Bucket" />
			<!-- <package name="test.java.MarComAPI.Timetrack" /> -->
		</packages>
	</test> <!-- Test -->
</suite> <!-- Suite -->